<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todos List</h1> 
    <a class="btn btn-success" href="{% url 'task-create' %}">Create Task</a>
    {% for task in tasks %}
    <ul>
        <li>
            <div class="">
                {{ task.title }}
                
    <a href="{% url 'task-update' task.id %}" class="btn btn-info">Edit</a>
    <a href="{% url 'task-delete' task.id%}" class="btn btn-danger">Delete</a>
                <a href="{% url 'task' task.id %}">
                    <br>More</a>
            </div>
        </li>
    </ul>
    {% empty %}
        <h2>No Task(s) created yet <span>Create Task?</span> click <a href="{% url 'task-create' %}">here</a></h2>
    {% endfor %}
</body>
</html>